* {
    box-sizing: border-box;
  }
  html{
    font-family: 'Poppins', sans-serif;
}

  header{
    display: flex;
}

:focus{
  border: black solid 2px;
}

#aside{
  border: none;
  font-style: italic;
  background-color: rgb(216, 252, 173);
  max-block-size: 30px;
  padding: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 20px;
  border-style: dashed;
}
footer{
  padding:20px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.448);
  color: white;
}
.contact_form{
  display: flex;
  justify-content: space-around;
  background-color: #d6e7fc;
  text-align: center;
  padding: 50px;

}

.contact_form> label{
  padding:30px;
}
.contact_form > th,td{
  text-align: center;
  vertical-align: middle;
  text-indent: 20px;
}
textarea{
  
width: 200px;
height: 200px;
}
.contact_form>label{
  padding: 30px;
}
p{
  padding: 25px;
  line-height: 30px;
}
.skip a{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute; /*Your code here - position relative to the parent */
  left:-500px;
  top:-40px;/*Your code here - place 500px left and 40px higher */;
}

#contact{
  display: block;
  margin-left: auto;
  margin-right: auto;
width:200px;

}
.skip a:focus{
  background: white;
  top: 0;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
}


.active {
  
  background-color: green;
  color: yellow;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #B31942;
}

#active{
  background-color: green;
  color: yellow;
  font-weight: bold;
  text-decoration: underline;
  
}


body {margin:0;font-family:Arial}

.topnav {
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding-top: 15px;
  padding-left: 12px;
  padding-right: 12px;
  text-decoration: none;
  font-size: 17px;
  padding-bottom: 18px;
}

.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 12px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  padding-bottom: 17px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
main{
  background-image: url("../images/background.jpg");
}
.grid-container{
  display:grid;
  grid-template-columns:1fr;
  justify-content: center;
  align-items:center;
}
.item-1,.item2,.item-3,.item-4{
  row-gap: 5px;
  text-align: center;

}


.pictures{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.newyear_usa_wrapper{
  display: grid;
  grid-template-columns:1fr;
  justify-items: center;
}

h1{
  color: darkgreen;
  font-size: 40px;
  text-align :center;
  padding-top: 40px;
}

h2{
  margin-top: 13px;
  margin-bottom: 10px;
  color: black;
  font-size: 30px;
  text-align: center;
}

h3{
  color: black;
  font-size: 25px;
  text-align: left;
}


h4{
  font-size: 37px;
}


header{ 
  align-items: center;
  flex-direction: column;
}

.card,.big_content,.color_table,.options{
    width:100%;
    flex-direction: column;
    box-sizing:border-box;
}

.usa_options{
  width:100%;
  flex-direction: column;
  box-sizing:border-box;
}
#usa_list {
  color: #7324e1;
}

.country_usa{
  object-fit:cover;
  background-color: #d6e7fc ;
}

.country_india{
  object-fit:cover;
  background-color: #ffcad9 ;
}

.country_uk{
  object-fit:cover;
  background-color: #f4eed2 ;
}

.country_japan{
  object-fit:cover;
  background-color: #e2c4f2 ;
}

.country_china{
  object-fit:cover;
  background-color: #b1e5f2 ;
}


img{
  width:100%;
  flex-direction: column;
}

.newyear_usa_images{
  border: 5px solid firebrick;
  text-align: center;
  object-fit:contain;
  margin: 20px;
  
}
.newyear_usa_images img{
  object-fit:contain;
  border-radius: 5px;
  border: 2px dodgerblue solid;
  height: 250px;
  width: 250px;
  margin: 20px;
}

.big_content{
  font-size: 30px;
  margin: 30px;
}
#fact_india {
  display: grid;
  box-sizing: border-box;
  height: 20%;
  margin: auto;
  width: 90%;
  background-color: #B31942;
  padding: 7px;
}

#fact_india > p{
  background-color: white;
  padding: 10px;
  color: #000080;
  border: 4px solid #FF9933;

}
#fact_usa{
  display: grid;
  box-sizing: border-box;
  height: 20%;
  margin: auto;
  width: 90%;
  background-color: #0A3161;
  padding: 7px;
}


#movie_usa{

  border: 7px purple double;
  animation: fadeIn 3s;
}

#fact_usa > p{
  background-color: white;
  padding: 10px;
  color: #000080;
  border: 4px solid #B31942;
}

#india_main{
  border: 4px solid orange;
  animation: fadeIn 3s;
}

.newyear_usa_images p{
  color: black;
  float: left;
  text-align: left;
}

.newyear_usa_images table,tr,td,th{
  border: 2px solid black;
  background-color: #dcf2e2;
  padding: 10px;
  width:max-content;
  text-align: center;
  margin: auto;
}

.newyear_usa_gallery img{

  border-radius: 5px;
  border: 2px dodgerblue solid;
  margin-top: 20px;
}

.color_table table,tr,td,th{
  border: 2px solid black;
  background-color: #e6d7fa;
  padding: 10px;
  width:max-content;
  text-align: center;
  margin: auto;
}
.countries {
  border: 5px solid black;
}

.welcome{

  font-family:Arial, Helvetica, sans-serif;
  font-style:normal;
  color:#160630;
}



#option1{
  background-color: #eae7dc;
  padding: 40px;
  text-align: center;
}
#option2{
  background-color: #d8c3a5;
  padding: 40px;
  text-align: center;
}
#option3{
  background-color: #8e8d8a;
  padding: 40px;
  text-align: center;
}
#option4{
  background-color: #e98074;
  padding: 40px;
  text-align: center;
  
}
#option5{
  background-color: #e85a4f;
  padding: 40px;
  text-align: center;
}



#usa_option1{
  background-color: #bfc3f2;
  padding: 40px;
  text-align: center;
}
#usa_option2{
  background-color: #bad9f8;
  padding: 40px;
  text-align: center;
}
#usa_option3{
  background-color: #ffe5e4;
  padding: 40px;
  text-align: center;
}
#usa_option4{
  background-color: #f8caca;
  padding: 40px;
  text-align: center;
  
}
#usa_option5{
  background-color: #eda6a6;
  padding: 40px;
  text-align: center;
}

.funfact{
  display:flex;
  margin: 0px 50px 0px 50px;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;

  align-items: center;
}


.funfact p{
  height:200px;
  width: 200px;
  display: inline-block;
  border-radius: 50%;
  border: 2px dotted black;
  padding: 40px;
  background-color: #e2c4f2;
  margin: 40px;
}





.big_content{
  font-size: 30px;
  margin: 30px;
}


@media (min-width: 768px) {
 

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  h1{
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 50px;
    text-align: center;
  }
  

img{
  width:fit-content;
  
}

h2{
  margin-top: 20px;
  padding-top:20px;
}

caption{
    font-size: 30px;
}


.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;



}

h3{
  padding-top: 30px;
}

.country_usa, .country_india, .country_china, .country_uk, .country_japan{
  text-align: center;
  padding-bottom: 30px;
  padding-right: 20px;

}


  .countries {
    height: 350px;
    width: 350px;
    margin-left: 20px;
    border: 5px solid black;
  }

  #movie_usa{
    object-fit:cover;
    align-self: center;
    border: 7px purple double;
    display: block;
    margin: 0 auto;
    width:400px;
    margin-bottom: 30px;
    justify-content: center;
    animation: fadeIn 3s;
  }

  .countries:hover{
    color: yellow;
    border:solid 5px;
}

.row{
  display: flex;
  flex-wrap: wrap;
  padding: 35px;
  justify-content: space-around;

  }

  .newyear_usa_gallery img{
    object-fit:cover;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    height: 300px;
    width: 300px;
    
    margin-top: 20px;
    margin-left: 30px;
  }

  .newyear_usa_gallery figcaption {
    width: 300px;
    margin-left: 30px;
  }

  .newyear_usa_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap: 20px;
    margin-top: 44px;
    row-gap: 30px;
    column-gap: 30px;

  }

  .newyear_usa_images{
    border: 5px solid firebrick;
    text-align: center;
    padding: 20px;
    
  }
  .newyear_usa_images img{
    object-fit:contain;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    height: 250px;
    width: 250px;
    margin: 20px;
  }

  .newyear_usa_images p{
    color: black;
    float: left;
    text-align: left;
  }

  .newyear_usa_images table,tr,td,th{
    border: 2px solid black;
    background-color: #dcf2e2;
    padding: 10px;
    width:max-content;
    text-align: center;
    margin: auto;
  }

  caption{
    width:max-content;
    text-align: center ;
    margin: 20px;
    
  }
  #usa_list {
    color: #7324e1;
 }


 .independence_usa_images{
    border: 5px solid firebrick;
    text-align: center;
    
 }

 .independence_usa_images img{
    object-fit:contain;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    height: 250px;
    width: 250px;
    margin: 20px;   
  }


  .independence_usa_images p{
    color: blue;
    text-align: left;
  }

 .color_table table,tr,td,th{
    border: 2px solid black;
    background-color: #e6d7fa;
    padding: 10px;
    width:max-content;
    text-align: center;
    margin: auto;
  }

  #india_main{
    border: 4px solid orange;
    display: block;
    margin: 0 auto;
    animation: fadeIn 3s;
  }

  .usa_options{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 80%;
    align-content: center;
    margin: auto;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  .options{
    display: grid;
        grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 80%;
    align-content: center;
    margin: auto;
    padding: 15px 40px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  #fact_india {
    display: grid;
    grid-row-start:2;
    grid-row-start:3;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;
    width: 80%;
    background-color: #B31942;
    padding: 10px;
  }
  
  #fact_india > p{
    background-color: white;
    padding: 5px;
    color: #000080;
    border: 5px solid #FF9933;
  }
  
  #fact_usa {
    display: grid;
    grid-row-start:2;
    grid-row-start:3;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
    background-color: #0A3161;
    flex-wrap: wrap;
    }

  #fact_usa > p{
    background-color: white;
    color: #000080;
    border: 5px solid #B31942;
    }

  }


  #india_main,#movie_usa{
    animation: fadeIn 3s;
    margin-top: 30px;
  }

  .skip a:focus{
  
    top: 20px;
    left: 0;
  }
@media (min-width: 1200px) {


  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  body{
    padding-left:0px;
  }
  .skip a:focus{
  
    top: 20px;
    left: 0;
  }

img{
  width:fit-content;
  flex-direction: column;
}

h2{
  margin-top: 20px;
  padding-top:20px;
}

caption{
    font-size: 30px;;
}

 .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;

  }

h3{
  padding-top: 30px;
}
.country_usa, .country_india, .country_china, .country_uk, .country_japan{
  text-align: center;
  padding-bottom: 30px;
 
}


  .countries {
    align-content: center;
    height:90%;
    width: 90%;
    align-self: center;
    border: 5px solid black;
    position: relative;
  }

  #movie_usa{
    object-fit:cover;
    align-self: center;
    border: 7px purple double;
    display: block;
    margin: 0 auto;
    width:600px;
    margin-bottom: 30px;
    justify-content: center;
    animation: fadeIn 3s;
  }

  .countries:hover{
    color: yellow;
    border:solid 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 35px;
  justify-content: space-around;
  }

  .newyear_usa_gallery img{
   
    border-radius: 5px;
    border: 2px dodgerblue solid;
    height: 300px;
    width: 300px;
    margin-top: 20px;
    margin-left: 40px;
  }

  .newyear_usa_gallery figcaption {
    width: 300px;
    margin-left: 40px;
  }

  .newyear_usa_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap: 20px;
    margin-top: 44px;
    
    row-gap: 30px;
    column-gap: 30px;

  }

  .newyear_usa_images{
    border: 5px solid firebrick;
    text-align: center;
    padding: 20px;
    
  }
  .newyear_usa_images img{
    object-fit:contain;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    height: 250px;
    width: 250px;
    margin: 20px;
  }

  .newyear_usa_images p{
    color: black;
    float: left;
    text-align: left;
  }

  .newyear_usa_images table,tr,td,th{
    border: 2px solid black;
    background-color: #dcf2e2;
    padding: 10px;
    width:max-content;
    text-align: center;
    margin: auto;
  }

  caption{
    width:max-content;
    text-align: center ;
    margin: 20px;
    
  }
  #usa_list {
    color: #7324e1;
 }


 .independence_usa_images{
    border: 5px solid firebrick;
    text-align: center;
    
 }

 .independence_usa_images img{
    object-fit:contain;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    height: 250px;
    width: 250px;
    margin: 20px;   
  }


  .independence_usa_images p{
    color: blue;
    text-align: left;
  }

 .color_table table,tr,td,th{
    border: 2px solid black;
    background-color: #e6d7fa;
    padding: 10px;
    width:max-content;
    text-align: center;
    margin: auto;
  }

  #india_main{
    border: 4px solid orange;
    display: block;
    margin: 0 auto;
    animation: fadeIn 3s;
  }

  .usa_options{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 80%;
    align-content: center;
    margin: auto;
    padding: 15px 40px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  .options{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 80%;
    align-content: center;
    margin: auto;
    padding: 15px 40px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  #fact_india {
    display: grid;
    grid-row-start:2;
    grid-row-start:3;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    width: 80%;
    background-color: #B31942;
    padding: 10px;
  }
  
  #fact_india > p{
    background-color: white;
    padding: 5px;
    color: #000080;
    border: 5px solid #FF9933;
  }
  

  #fact_usa {
    display: grid;
    grid-row-start:2;
    grid-row-start:3;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    width: 80%;
    background-color: #0A3161;
    flex-wrap: wrap;
    }

  #fact_usa > p{
    background-color: white;
    color: #000080;
    border: 5px solid #B31942;
    }

  }


  #india_main,#movie_usa{
    animation: fadeIn 3s;
    margin-top: 30px;
  }
  
  @keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity:1;}
  }
  @media(prefers-reduced-motion){
    #india_main,#movie_usa{
        animation: none;
    }
    .skip a{
      -webkit-transition: none;
      transition: none;
    }
  }

